@charset "UTF-8";
/*@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails*/
/*$visual-grid: true !global;*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
// Turn on Neat's visual grid for development.
$visual-grid:       false;
$visual-grid-color: #EEEEEE;
// Set to false if you'd like to remove the responsiveness.
$responsive:    true;
// Set total number of columns in the grid.
$grid-columns:  12;
// Set the max width of the page using the px to em function in Bourbon.
// The first value is the pixel value of the width and the second is the base font size of your theme.
$font-size:     16px;
$max-width-px:  2000px;
$max-width:     em($max-width-px, $font-size);
// Define breakpoints.
// The last argument is the number of columns the grid will have for that screen size.
// We've kept them all equal here.
$mobile:   new-breakpoint(min-width em(320px, $font-size) $grid-columns);
$narrow:   new-breakpoint(min-width em(560px, $font-size) $grid-columns);
$wide:     new-breakpoint(min-width em(851px, $font-size) $grid-columns);
$horizontal-bar-mode: new-breakpoint(min-width em(950px, $font-size) $grid-columns);
*/
/**
 * $HLIST
  */
.breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; }
  .breadcrumb::after {
    clear: both;
    content: "";
    display: table; }
  .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left; }

/*$heading-font-family: $base-font-family;*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #8B2004;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #6f1a03;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #8B2004; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  /*display: block;*/
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #8B2004;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(114, 26, 3, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  /*font-family: $serif;*/
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 0.3em; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 2.6em; } }

h2 {
  /*font-family: $serif;*/
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: .9em; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  /*font-family: $serif;*/
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #8B2004;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #681803; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/**
 * $BREADCRUMB
  */
.breadcrumb {
  margin-bottom: .6em;
  /*font-family: $sans-serif-2;*/ }
  .breadcrumb li {
    padding-right: 0.4em; }
    .breadcrumb li:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline; }
    .breadcrumb li:last-child:after {
      content: ""; }
  .breadcrumb a {
    text-decoration: none;
    /*color: $light-green;*/
    color: #5C8727; }

.l-footer-wrapper {
  background: #333; }

.nav-wrapper {
  background: #333; }

.l-region--navigation .menu {
  /*background:#ccc;*/
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  /*padding: 8px 5px;*/ }
  .l-region--navigation .menu::after {
    clear: both;
    content: "";
    display: table; }
  .l-region--navigation .menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 1em;
    padding-right: 1em; }
    .l-region--navigation .menu li:first-child, .l-region--navigation .menu li.first {
      padding-left: 0; }
    .l-region--navigation .menu li:last-child {
      padding-right: 0; }
    .l-region--navigation .menu li.last {
      padding-right: 0; }
  .l-region--navigation .menu i {
    padding-right: 5px; }
  .l-region--navigation .menu li:hover {
    background: #5C8727; }
  .l-region--navigation .menu a {
    color: #fff;
    font-size: .9em; }

.site-branding__name {
  font-size: 2em;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  margin-top: 8px;
  display: block;
  line-height: 1; }

.site-branding__slogan {
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
  line-height: 1; }

header.l-header {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); }

.landing-page .l-content {
  border: 0;
  padding: 0;
  margin-top: 1.5em; }

.lp {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .lp::after {
    clear: both;
    content: "";
    display: table; }
  .lp .lp-menu {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    /*background: $light-gray;*/ }
    .lp .lp-menu:last-child {
      margin-right: 0; }
  .lp .lp-slider {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .lp .lp-slider:last-child {
      margin-right: 0; }
  .lp .lp-welcome {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-right: 0; }
    .lp .lp-welcome:last-child {
      margin-right: 0; }
  .lp .lp-glance {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .lp .lp-glance:last-child {
      margin-right: 0; }
  .lp .lp-collection {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    margin-right: 0; }
    .lp .lp-collection:last-child {
      margin-right: 0; }

.l-constrained, .l-region--navigation, .l-region--highlighted, .l-footer-wrapper .l-region--footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1140px; }
  .l-constrained::after, .l-region--navigation::after, .l-region--highlighted::after, .l-footer-wrapper .l-region--footer::after {
    clear: both;
    content: "";
    display: table; }

.site-branding {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 74.46809%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .site-branding:last-child {
    margin-right: 0; }
  .site-branding::after {
    clear: both;
    content: "";
    display: table; }
  .site-branding .site-branding__logo {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    line-height: 0; }
    .site-branding .site-branding__logo:last-child {
      margin-right: 0; }
  .site-branding .name_slogan {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-right: 0; }
    .site-branding .name_slogan:last-child {
      margin-right: 0; }
  .site-branding::after {
    clear: both;
    content: "";
    display: table; }

.branding-container {
  padding: 0.75em 0; }

.l-region--header {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-right: 0; }
  .l-region--header:last-child {
    margin-right: 0; }

/* Content Area */
.l-region--help {
  margin-bottom: 1.5em; }

.l-main {
  padding-top: 1.5em; }

.has-one-sidebar.has-sidebar-first .l-region--sidebar-first {
  /*background: red;*/
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%; }
  .has-one-sidebar.has-sidebar-first .l-region--sidebar-first:last-child {
    margin-right: 0; }

.has-one-sidebar.has-sidebar-first .l-content {
  /*background: green;*/
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 74.46809%;
  margin-right: 0; }
  .has-one-sidebar.has-sidebar-first .l-content:last-child {
    margin-right: 0; }

.has-one-sidebar.has-sidebar-second .l-region--sidebar-second {
  /*background: red;*/
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-right: 0; }
  .has-one-sidebar.has-sidebar-second .l-region--sidebar-second:last-child {
    margin-right: 0; }

.has-one-sidebar.has-sidebar-second .l-content {
  /*background: green;*/
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 74.46809%; }
  .has-one-sidebar.has-sidebar-second .l-content:last-child {
    margin-right: 0; }

/*.has-one-sidebar .has-sidebar-first {*/
/*.l-region--sidebar-first {*/
/*@include span-columns(2);*/
/*}*/
/*.l-content {*/
/*@include span-columns(10);*/
/*@include omega;*/
/*}*/
/*}*/
/*.has-one-sidebar .has-sidebar-second {*/
/*.l-content {*/
/*@include span-columns(10);*/
/*}*/
/*.l-region--sidebar-second {*/
/*@include span-columns(2);*/
/*@include omega;*/
/*}*/
/*}*/
.has-two-sidebars .l-region--sidebar-first {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%; }
  .has-two-sidebars .l-region--sidebar-first:last-child {
    margin-right: 0; }

.has-two-sidebars .l-content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .has-two-sidebars .l-content:last-child {
    margin-right: 0; }

.has-two-sidebars .l-region--sidebar-second {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%; }
  .has-two-sidebars .l-region--sidebar-second:last-child {
    margin-right: 0; }

/* Footer */
.l-footer-wrapper {
  padding: 1.5em 0; }

.lp-menu .menu .leaf {
  list-style-image: none;
  list-style-type: none; }

.lp-menu .menu a {
  font-size: 1.2em;
  color: #333;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd; }
  .lp-menu .menu a:hover {
    background: #ddd;
    transition: all 0.15s ease-out 0s; }

.lp-menu .menu .first a {
  border-top: 1px solid #ddd; }

.lp-menu .menu i {
  width: 20px;
  margin-right: 1em; }

ul.pager li {
  background: #f9f7f9;
  padding: 7px 12px;
  border: 1px solid #ddd;
  border-radius: 4px; }
  ul.pager li:hover {
    background: #7E9B5B;
    transition: all 0.15s ease-out 0s; }
  ul.pager li a {
    color: #333; }

ul.pager {
  padding-bottom: 10px; }

.l-content {
  border: 1px solid #ddd;
  padding: 1.5em; }

.scholar {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .scholar::after {
    clear: both;
    content: "";
    display: table; }
  .scholar .scholar-image {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 14.89362%; }
    .scholar .scholar-image:last-child {
      margin-right: 0; }
    .scholar .scholar-image img {
      width: 100%; }
  .scholar .metadata {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-right: 0; }
    .scholar .metadata:last-child {
      margin-right: 0; }
  .scholar .bio {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-top: 1px solid #ddd;
    margin-top: 1.5em;
    padding-top: 1.5em; }
    .scholar .bio:last-child {
      margin-right: 0; }
  .scholar .activities {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em; }
    .scholar .activities:last-child {
      margin-right: 0; }
  .scholar .citations {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em; }
    .scholar .citations:last-child {
      margin-right: 0; }
  .scholar .other-scholars {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em; }
    .scholar .other-scholars:last-child {
      margin-right: 0; }
  .scholar .rss {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em; }
    .scholar .rss:last-child {
      margin-right: 0; }

.islandora-solr-search-result-inner input[type="submit"] {
  padding: 8px;
  font-size: .8em; }

.islandora-solr-search-result-inner .form-item.form-type-select {
  margin-bottom: 0;
  padding-bottom: 0; }

.search-bar form {
  position: relative;
  margin-top: 20px; }

.search-bar input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  transition: border-color;
  background-color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.5em;
  position: relative;
  width: 100%;
  border-radius: 0; }

.search-bar input[type="submit"] {
  position: absolute;
  top: 0em;
  right: 0em;
  bottom: 0em;
  outline: none;
  border-radius: 0;
  padding: 5px 10px;
  width: 34px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url("../images/search-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 18px; }

.l-region--sidebar-first {
  padding-left: 2em !important;
  border-left: 1px solid #ddd; }

aside .block {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em; }

aside .menu li {
  list-style-type: none; }

/**
 * @file
  * Menu and navigational styles.
   */
/**
 * @file
  * Styles for a hierarchical menu as generated by theme_menu_tree().
   */
.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
  /* Menu Item Hierarchy Modifiers */ }

.menu .expanded {
  list-style-image: url("../../../images/misc/menu-expanded.png?1382488163");
  list-style-type: circle; }

.menu .collapsed {
  list-style-image: url("../../../images/misc/menu-collapsed.png?1382488163");
  /* LTR */
  list-style-type: disc; }

.menu .leaf {
  list-style-image: url("../../../images/misc/menu-leaf.png?1382488163");
  list-style-type: square; }

/* Menu State Modifiers */
.active {
  color: #000; }

.menu-disabled {
  background: #ccc; }

/**
   * @file
    * Inline links as generated by theme_links().
	 */
.links--inline {
  *zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.links--inline:after {
  content: "";
  display: table;
  clear: both; }

.links--inline li {
  float: left;
  /* LTR */
  margin-right: 1em;
  /* LTR */ }

.links--inline li > a {
  display: block; }

/**
   * @file
    * Theme styles for markup generated by theme_menu_local_tasks().
	 */
/* Tabs */
.tabs a {
  background-color: #eee;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.tabs a.active {
  background-color: #fff; }

.tabs a:hover, .tabs a:focus {
  background-color: #bbb; }

/* Primary Tabs */
.tabs--primary a {
  padding: 0.3em 0.8em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: -1px; }

/* Secondary Tabs */
.tabs--secondary a {
  padding: 0.2em 0.5em;
  margin: 0.4em 0;
  font-size: 0.9em; }

/**
 * @file
  * System wide theme styles.
   */
/**
 * @file
  * Basic styling for common HTML elements.
   */
/* Fieldsets */
fieldset {
  margin-bottom: 1em; }

/* Tables */
table {
  border-collapse: collapse; }

th {
  padding-right: 1em;
  /* LTR */
  background-color: #bbb;
  text-align: left;
  /* LTR */ }

tr.even,
tr.odd {
  background-color: #eee; }

tr.odd {
  background-color: #ddd; }

/**
 * @file
  * Theme for autocomplete.
   *
    * @see autocomplete.js
	 */
#autocomplete {
  background: #fff;
  border: 1px solid;
  color: #000; }

#autocomplete .selected {
  background: #0072b9;
  color: #fff; }

/**
   * @file
    * Theme for collapsible fieldsets.
	 *
	  * @see collapse.js
	   */
html.js fieldset.collapsible .fieldset-legend {
  padding-left: 15px;
  /* LTR */
  background: url("../../../images/misc/menu-expanded.png?1382488163") 5px 65% no-repeat;
  /* LTR */ }

html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0; }

html.js fieldset.collapsed .fieldset-legend {
  background-image: url("../../../images/misc/menu-collapsed.png?1382488163");
  /* LTR */
  background-position: 5px 50%;
  /* LTR */ }

.fieldset-legend .summary {
  margin-left: 0.5em;
  color: #999;
  font-size: 0.9em; }

/**
 * @file
  * Theme for the tabledrag behavior.
   *
    * @see tabledrag.js
	 */
.drag {
  background-color: #fffff0; }

.drag-previous {
  background-color: #ffd; }

/**
 * @file
  * Theme for the progress behavior.
   *
    * @see progress.js
	 */
.progress {
  font-weight: bold; }

.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  border-radius: 3px; }

.progress .filled {
  background: #0072b9 url("../../../images/misc/progress.gif?1382488163"); }

/**
 * @file
  * Theme for the tableselect behavior.
   *
    * @see tableselect.js
	*/
.selected td {
  background: #ffc; }

.checkbox,
.checkbox {
  text-align: center; }

/**
 * @form
  * Theme for markup generated by Form API.
   */
/* Generic Form Items. */
.form-item,
.form-actions {
  margin-bottom: 1em; }

.form-item label,
.form-actions label {
  display: block;
  font-weight: bold; }

.form-item .description,
.form-actions .description {
  font-size: 0.85em; }

/* Checkboxes and Radios */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-bottom: 0.4em; }

.form-checkboxes .description,
.form-radios .description {
  margin-left: 2.4em; }

label.option {
  display: inline;
  font-weight: normal; }

.form-checkbox,
.form-radio {
  vertical-align: middle; }

/* Errors */
.marker,
.form-required {
  color: #f00; }

input.error,
textarea.error,
select.error {
  border: 2px solid red; }

/* Table Form Items */
tr .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap; }

/* Inline Items */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0; }

/**
 * @file
  * Theme for the markup generated by theme_tablesort_indicator().
   */
th.active img {
  display: inline; }

td.active {
  background-color: #ddd; }

/**
 * @file
  * Theme for more links.
   */
.more-link {
  display: block;
  text-align: right;
  /* LTR */ }

/**
 * @file
  * Theme for markup generated by theme_pager().
   */
.pager {
  clear: both;
  padding: 0;
  text-align: center; }

.pager__item {
  display: inline;
  padding: 0.5em;
  background-image: none;
  list-style-type: none; }

.pager__item--current {
  font-weight: bold; }

body {
  /*background:blue;*/ }

body {
  -webkit-font-smoothing: antialiased;
  /*background:blue;*/ }

/*# sourceMappingURL=is-upei-2016.styles.css.map */
