/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
.l-constrained, .l-region--navigation, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  *zoom: 1; }
  .l-constrained:after, .l-region--navigation:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
.l-region--header {
  padding: 18px 0; }
  .l-region--header .block {
    float: right; }

/* Content Area */
.l-highlighted-wrapper {
  padding: 18px 0; }

.l-region--help {
  margin-bottom: 18px; }

.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em; }

/* Footer */
.l-footer-wrapper {
  padding: 18px 0; }

@media (min-width: 44em) {
  .l-constrained, .l-region--navigation, .l-region--highlighted, .l-region--footer {
    width: 90%; }
  /* Header */
  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--header {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* Sidebars */
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second,
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }

@media (min-width: 70em) {
  .l-constrained, .l-region--navigation, .l-region--highlighted, .l-region--footer {
    width: 80%; }
  /* Sidebars */
  .has-one-sidebar .has-sidebar-first .l-region--sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-one-sidebar .has-sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .has-one-sidebar .has-sidebar-second .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-one-sidebar .has-sidebar-second .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; } }

/*# sourceMappingURL=is_01.layout.css.map */
