/**
 * @file
  * Styles for Islandora Bookmark.
   */
div.islandora-bookmark-users div.form-item {
	width: 200px;
	display: inline-block;
	display: -moz-inline-block;
	margin-right: 10px;
	*display: inline;
	*zoom: 1;
	*vertical-align: 2%;
}

div.islandora-bookmark-listname div.form-item {
	display: inline-block;
	display: -moz-inline-block;
	margin-right: 10px;
	*display: inline;
	*zoom: 1;
	*vertical-align: 2%;
}

div.islandora-bookmark-adduser div.form-item {
	display: inline-block;
	display: -moz-inline-block;
	margin-right: 10px;
	*display: inline;
	*zoom: 1;
	*vertical-align: 2%;
}

div.islandora-bookmark-error-message {
	background-image: linear-gradient(#ee5f5b, #c43c35);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#islandora-bookmark .form-item-add-bookmarks {
	//display: inline-block;
	margin-right: 10px;
}

#islandora-bookmark-detailed-form table .operations {
	width: 100px;
}

#islandora-bookmark-rss-format {
	float: right;
	display: block;
	clear: both;
}

#islandora-bookmark-detailed-list {
	clear: both;
}

/*
 *bookmarks
 */
#block-islandora-bookmark-islandora-bookmark, .solr-thumb {
	/* position: absolute;*/
	/*top: 40px;*/
	/*right: 28px;*/
	.messages.messages--error {
		background-image: none;
		padding: 5px;
	}

	.upei-roblib-scholar-search-bookmark {
		display: none;
	}

	h3 {
		display: none;
	}

	/*.form-item-add-bookmarks {*/
	/*margin-bottom: 0  !important;*/
	/*display: block;*/
	/*float: left  !important;*/
	/*margin-right: 5px;*/
	/*}*/

	/*.form-submit {*/
	/*display: block;*/
	/*}*/
	.sbOptions, .sbHolder {
		width: 100%  !important;
	}

	.sbHolder {
		font-size: 10px;
	}
}

.l-content {
	/*position: relative;*/
}

input#edit-add-button,
.roblib-bookmark-form input.form-submit {
	display: block;
	margin: 0 auto;

	@extend button.green;
}

.form-item.form-type-select.form-item-add-bookmarks {
	margin-right: 0 !important;
}

.scholar-page {
	div#edit-lists {
		text-align: center;
	}
}

div#edit-lists a {
	appearance: none;
	background-color: $green;
	border: 0;
	border-radius: $base-border-radius;
	color: #fff;
	cursor: pointer;
	display: inline-block;

	//font-family: $base-font-family;
	//font-family: $roboto_condensed;
	text-transform: uppercase;
	//font-size: $base-font-size;
	font-family: $button-font;
	font-size: $button-font-size;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1;
	padding: ($small-spacing / 2) ($base-spacing / 2);
	text-decoration: none;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	@include small-shadow;

	&:hover,
	&:focus {
		background-color: shade($green, 20%);
		color: #fff;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			background-color: $green;
		}
	}

	i {
		margin-right: 4px;
	}
}

/*
 *my bookmarks page
 */
input#edit-bookmarks-fieldset-remove-remove-selected, input#edit-bookmarks-fieldset-remove-remove-all {
	float: right;
}

#islandora-bookmark-detailed-overview {
	.operations input {
		@extend button.gray;
	}

	//change table styles
	table {
		//@include small-shadow;
		border: $base-border;

		th {
			background: $dark-gray;
			color: #fff;
			font-family: $roboto_condensed;

			a {
				color: #fff;
			}
		}

		th:nth-child(2) {
			width: 85%;
		}

		/*td:nth-child(2) {*/
			/*padding-right: 20px;*/
		/*}*/


		td {
			border-bottom: 1px solid #ddd;
			padding: 0.9em 0;
		}

		tr.odd {
			background: white;
		}

		tr.even {
			background: white;
		}

		//border: $base-border;
		border-radius: $base-border-radius;

		td:first-child, th:first-child {
			padding-left: 10px;
		}
	}

	fieldset#edit-bookmarks-fieldset {
		padding: 0px;
	}

	legend {
		display: none;
	}
}

div#islandora-bookmark-detailed-list legend {
	display: none;
}

#islandora-bookmark-detailed-list .form-wrapper {
	border: 0;
	background: none;
	padding: 0px;
}

.page-islandora-bookmark .l-content {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.page-islandora-bookmark {
	a.list-links {
		display: none;
	}

	div#islandora-bookmark-rss-format {
		display: none;
	}
}
