//------------------------
//-  lp citations block  -
//------------------------
.block--recent-citations--title {
	font-size: 1em;
	font-family: $roboto;
	font-weight: normal;

	@include clean;
}

.block--recent-citations--publication {
	font-style: italic;
}

.block--recent-citations dd {
	@include icon(f105);

	margin-bottom: $base-spacing / 2;
}

.view-recent-citations .more-link {
	text-align: initial;
}

.block--recent-citations--more,
.more-link a {
	text-align: initial;

	@extend input[type="button"];

	margin-top: $base-spacing / 2;
}

//=======================
.page-citations .l-content {
	background: none;
	border: 0px;

	@include clean;

	border-top: $base-border;
}

.citation-page .l-content {
	border-top: $base-border;
}

.csl-bib-body {
	font-family: $georgia;
	padding-right: $base-spacing / 2;
}

.citation-page {
	.csl-bib-body {
		font-size: 1.2em;
		background: $light-green;
		margin-bottom: $base-spacing;
		padding: $base-spacing / 2;
		margin-right: 0;
		border: $base-border;

		//@include small-shadow;

	}
}

fieldset#edit-bookmarks-fieldset td a {
	font-family: $roboto_condensed;
	font-weight: 600;
}

/*
 *style select list
 */

#islandora-scholar-citation-select-form {
	display: inline-block;
}

#islandora-scholar-citation-select-form label {
	display: none;
}

#islandora-scholar-citation-select-form .description {
	font-size: .9em;
	font-family: $roboto_condensed;
	text-transform: uppercase;
}

.citation-page h1 {
	font-size: 1.6em;
}

.citation-page {
	.islandora-inline-metadata dt {
		width: 30%;
	}

	.islandora-inline-metadata dd {
		width: 70%;
		padding-left: 20px;
	}

	@include media($medium-screen-alt) {
		.islandora-inline-metadata dt {
			width: 20%;
		}

		.islandora-inline-metadata dd {
			width: 80%;
			padding-left: 40px;
		}
	}
}

//------------------------------------------
//-  thesis thumbnail and download button  -
//------------------------------------------

//I am not proud of this, could break other stuff
.fulltext {
	width: 200px;
	margin: 0 auto;

	img {
		border: $base-border;
	}

	.form-item {
		label {
			display: none;
		}

		a {
			@include icon(f019);

			@extend input[type="submit"];

			@extend button.green;

			text-align: center;
		}
	}

	img, .form-item a {
		width: 100%;
	}

	@include media($medium-screen-alt) {
		float: left;
		margin-right: $base-spacing;
	}
}

.fulltext {}

.citation-page h1 {
	@include media(max-width $medium-screen-alt) {
		font-size: 1.3em;
	}
}

.citation-page .l-content {
	//-----------------
	//-  flex layout  -
	//-----------------

	.csl-entry {
		word-break: break-word;
	}

	@include media(max-width $medium-screen-alt) {
		display: flex;

		// {{{
		flex-wrap: wrap;

		.islandora-scholar-citation-select-form {
			order: 3;
			margin: 0 auto;
			display: block;
			width: 200px;
		}

		#block-islandora-solr-search-navigation {
			order: 1;
			margin: 0 auto;
			margin-bottom: $small-spacing;
			margin-top: $small-spacing;

			@include media($medium-screen) {
				margin-top: 0;
			}


			.block__content {
				line-height: 0;
			}

			ul.block--search-navigation--list {
				margin: 0 auto;
				display: inline-flex;
			}
		}

		#block-islandora-bookmark-islandora-bookmark {
			width: 100%;
			order: 2;
			margin-bottom: 1em;

			.form-item {
				@include clean;
			}

			form {
				width: 140px;
				margin: 0 auto;
			}
		}

		.ir_thesisCModel {
			order: 4;
			word-break: break-word;
			font-size: .9em;
		}

		.ir_citationCModel {
			order: 4;
			word-break: break-word;
		}

		// }}}

		.csl-entry {
			font-size: .9em;
			word-break: break-word;
		}

		//==============
	}


	@include media($medium-screen-alt) {
		form#islandora-scholar-citation-select-form {
			// {{{
			@include span-columns(6 of 18);
		}

		.block--islandora-solr-search-navigation {
			@include span-columns(8 of 18);

			.block--search-navigation--list {
				display: flex;
				justify-content: center;
			}
		}

		#block-islandora-bookmark-islandora-bookmark {
			//@include span-columns(4 of 18);

			//@include omega;

			#islandora-bookmark {
				/*width: 140px;*/
			}

			//float: right;
	
		}

		.ir_thesisCModel.fedora_system_FedoraObject_3_0,
		.ir_citationCModel.fedora_system_FedoraObject_3_0 {
			clear: both;
		}

		// }}}
	}
}

.block--islandora-altmetrics {
	float: right;
}

.share-links {
	@include horizontal-list;

	float: right;
	margin-right: $small-spacing;
}

//==============
