//------------------------
//-  lp citations block  -
//------------------------
.block--recent-citations--title {
	font-size:1em;
	font-family: $roboto;
	font-weight: normal;
	@include clean;
}
.block--recent-citations--publication {
	font-style: italic;
	
}
.block--recent-citations dd {
@include icon(f105);
	margin-bottom: $base-spacing/2;
}
.block--recent-citations--more {
	@extend input[type="button"];
	margin-top: $base-spacing /2;
}
//=======================

.csl-bib-body {
	font-family: $georgia;

	padding-right: $base-spacing / 2;
}

.citation-page {
	.csl-bib-body {
		font-size: 1.2em;
		background: $light-green;
		margin-bottom: $base-spacing;
		padding: $base-spacing / 2;
margin-right: 0;
		border: $base-border;

		//@include small-shadow;
	}
}

fieldset#edit-bookmarks-fieldset td a {
	font-family: $roboto_condensed;
	font-weight: 600;
}

/*
 *style select list
 */

#islandora-scholar-citation-select-form {
	display: inline-block;
}

#islandora-scholar-citation-select-form label {
	display: none;
}

#islandora-scholar-citation-select-form .description {
	font-size: .9em;
	font-family: $roboto_condensed;
	text-align: center;
	text-transform: uppercase;
}
.citation-page #block-islandora-bookmark-islandora-bookmark {
	width: 164px;
	
}

.citation-page {
	.islandora-inline-metadata dt {
	    width: 12%;
	}
	.islandora-inline-metadata dd {
	    width: 88%;
	}
}
