.nav-wrapper {
	background: #333;
}

.l-region--navigation .menu {
	/*background:#ccc;*/
	@include horizontal-list(1em);

	/*padding-top: 8px;*/
	/*padding-bottom: 8px;*/

	i {
		padding-right: 5px;
	}

	li {
		border-bottom: 4px solid $dark-gray;

		&:hover {
			background: #424242;
			border-bottom: 4px solid $green;

			@include transition;

			i {
				color: $green;

				@include transition;
			}
		}

		padding-bottom: 10px;
		padding-top: 10px;
	}

	a {
		color: #fff;
		font-size: .9em;
	}

	/*padding: 8px 5px;*/
}

.l-region--navigation .scholar-menu li.last {
	/* display: none; */
	padding-right: 1em;
}

.l-region--navigation .scholar-menu li.first {
	/* display: none; */
	padding-left: 1em;
}

.site-branding__name {
	font-size: 2em;
	font-family: $heading-font-family;
	margin-top: 8px;
	display: block;
	line-height: 1;
}

.site-branding__slogan {
	margin: 0;
	font-size: 1.5em;
	display: inline-block;
	line-height: 1;
}

header.l-header {
	@include big-shadow;
}
