.nav-wrapper {
	background: #333;
}

.l-region--navigation .menu {
	/*background:#ccc;*/
	@include horizontal-list(1em);

	padding-top: 8px;
	padding-bottom: 8px;

	i {
		padding-right: 5px;
	}

	li {
		&:hover {
			background: $green;
		}
	}

	a {
		color: #fff;
		font-size: .9em;
	}

	/*padding: 8px 5px;*/
}

.site-branding__name {
	font-size: 2em;
	font-family: $heading-font-family;
	margin-top: 8px;
	display: block;
	line-height: 1;
}

.site-branding__slogan {
	margin: 0;
	font-size: 1.5em;
	display: inline-block;
	line-height: 1;
}

header.l-header {
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
