.nav-wrapper {
	background: #333;
}

.l-region--navigation .menu {
	/*background:#ccc;*/
	@include horizontal-list;

	a {
		color: #fff;
	}
}



.site-branding {
	@include outer-container;

	.site-branding__logo {
		@include span-columns(4);
	}
}
.site-branding__name {
    font-size: 2em;
	font-family: $heading-font-family;
	margin-top: 12px;
	display: block;
    line-height: 1;
}

.site-branding__slogan {
    margin: 0;
    font-size: 1.5em;
    display: inline-block;
    line-height: 1;
}
