.landing-page .l-content {
	border: 0;
	padding: 0;
	margin-top: $base-spacing;
	background: none;
}
.lp {
	@include outer-container;

	.lp-menu {
		@include span-columns(3);

		/*background: $light-gray;*/
	}

	.lp-slider {
		@include span-columns(6);
		.flexslider {
			border-radius: 0;
			
		}

	}

	.lp-welcome {
		@include span-columns(3);

		@include omega;

	}

	.lp-glance {
		@include span-columns(6);

	}

	.lp-collection {
		@include span-columns(6);

		@include omega;

	}
}


.lp-slider {}

.lp-welcome {}

.lp-glance {}

.lp-collection {}
