//hide the tabs
.landing-page .tabs--primary {
	display: none;
}
//pane borders
.landing-page .panel-pane {
	border-bottom: $base-border;
	margin-bottom: $base-spacing/2;
}
@include media($medium-screen) {
	.landing-page .panel-pane {
		border-bottom: 0;
		margin-bottom: 0;
	}
	.landing-page .panel-pane .lp-slider,
	.landing-page .panel-pane .pane-node-links {
		border-bottom: 0;
	}
}
//remove the content area style
.landing-page .l-content {
	border: 0;
	padding: 0;
	@include media($medium-screen) {
		margin-top: $base-spacing / 3;
	}
	background: none;
}

.flexslider {
	border-radius: 0;
	margin-bottom: $base-spacing;
}
.lp-menu {
	display: none;
}
@include media($large-screen) {
	.lp-top-row {
		align-content: space-between;
		display: flex;
		margin: 0 -10px;
	}
	.lp-menu {
		display: block;
		margin: 0 10px;
		flex-basis: 260px;
	}
	.lp-slider {
		flex: 2;
		margin: 0 10px;
	}
	.lp-welcome {
		flex: 1;
		margin: 0 10px;
	}
}
.lp-top-row {// {{{
	.lp-menu {
		display: none;
	}

	@include media($large-screen) {
		align-content: space-between;
		display: flex;
		margin: 0 -10px;
		.lp-menu {
			display: block;
			//flex: 1;
			margin: 0 10px;
			flex-basis: 260px;

		}

		.lp-slider {
			flex: 2;
			margin: 0 10px;

		}

		.lp-welcome {
			flex: 1;
			margin: 0 10px;
		}
	}
}// }}}

.lp-welcome i {
	margin-right: 5px;
}

.block--student-works h4 {
	margin-bottom: 0;
}
@include media($large-screen) {
	.lp-second-row {
		align-content: space-between;
		display: flex;
		margin: 0 -10px;
		margin: 0 -10px;
	}
	.lp-welcome.alt {
		display: none;
	}
	.lp-glance {
		flex: 1;
		margin: 0 10px;
	}
	.block--student-works {
		margin: 0 10px;
		flex: 1;
	}
}

