.l-constrained {
	@include outer-container;

	width: 1140px;
}

.l-region--navigation {
	@extend .l-constrained;
}

.site-branding {
	@include span-columns(6);

	@include outer-container;

	.site-branding__logo {
		@include span-columns(4);
	}

	.name_slogan {
		@include span-columns(8);

		@include omega;
	}

	@include clearfix;
}

.l-region--header {
	@include span-columns(6);

	@include omega;
}

.site-branding {}

/* Content Area */
.l-highlighted-wrapper {}

.l-region--highlighted {
	@extend .l-constrained;
}

.l-region--help {
	margin-bottom: $base-spacing;
}

.has-one-sidebar .has-sidebar-first {
	.l-region--sidebar-first {
		@include span-columns(2);
	}

	.l-content {
		@include span-columns(10);
		@include omega;
	}

}
.has-one-sidebar .has-sidebar-second {

	.l-content {
		@include span-columns(10);
	}
	.l-region--sidebar-second {
		@include span-columns(2);
		@include omega;
	}

}
.has-two-sidebars{
	.l-region--sidebar-first {
		@include span-columns(2);
	}

	.l-content {
		@include span-columns(8);
	}

	.l-region--sidebar-second {
		@include span-columns(2);
	}
}

/* Footer */
.l-footer-wrapper {
	padding: $base-spacing 0;
}

.l-region--footer {
	@extend .l-constrained;
}
