.l-constrained {
	@include outer-container;

	width: 1280px;
}

.l-region--navigation {
	@extend .l-constrained;
}

.l-header .l-constrained {}

.site-branding {
	@include span-columns(9);

	@include outer-container;

	.site-branding__logo {
		@include span-columns(3);
		line-height:0;
	}

	.name_slogan {
		@include span-columns(8);

		border-left: $base-border;
		padding-left: 10px;
		@include omega;
	}

	@include clearfix;
}

.branding-container {
	padding: ($base-spacing / 2) 0;
}

.l-region--header {
	@include span-columns(3);

	@include omega;
}

.site-branding {}

/* Content Area */
.l-highlighted-wrapper {}

.l-region--highlighted {
	@extend .l-constrained;
}

.l-region--help {
	margin-bottom: $base-spacing;
}

.l-main {
	padding-top: $base-spacing;
}

.has-one-sidebar.has-sidebar-first {
	.l-region--sidebar-first {
		/*background: red;*/

		@include span-columns(3);
	}

	.l-content {
		/*background: green;*/
		@include span-columns(9);

		@include omega;
	}
}

.has-one-sidebar.has-sidebar-second {
	.l-region--sidebar-second {
		/*background: red;*/

		@include span-columns(3);

		@include omega;
	}

	.l-content {
		/*background: green;*/
		@include span-columns(9);
	}
}

/*.has-one-sidebar .has-sidebar-first {*/
/*.l-region--sidebar-first {*/
/*@include span-columns(2);*/
/*}*/

/*.l-content {*/
/*@include span-columns(10);*/

/*@include omega;*/
/*}*/
/*}*/

/*.has-one-sidebar .has-sidebar-second {*/
/*.l-content {*/
/*@include span-columns(10);*/
/*}*/

/*.l-region--sidebar-second {*/
/*@include span-columns(2);*/

/*@include omega;*/
/*}*/
/*}*/

.has-two-sidebars {
	.l-region--sidebar-first {
		@include span-columns(3);
	}

	.l-content {
		@include span-columns(6);
	}

	.l-region--sidebar-second {
		@include span-columns(3);
	}
}

/* Footer */
.l-footer-wrapper {
	padding: $base-spacing 0;

	.l-region--footer {
		@extend .l-constrained;
	}
}
