.l-constrained {
	@include outer-container;

	max-width: 1140px;
	margin: 0 ($base-spacing / 2);

	@include media(1140px) {
		margin: 0 auto;
	}
}

.l-page {
	background: $off-white;
}

.l-region--navigation {
	@extend .l-constrained;
}

.l-header .l-constrained {}

header.l-header {
	background: white;
}


@include media(480px) {
	.site-branding {
		@include span-columns(7);
	}

	.l-region--header {
		@include span-columns(5);

		@include omega;
	}
}

@include media(980px) {
	.l-region--header {
		@include span-columns(3);

		@include omega;
	}

	.site-branding {
		@include span-columns(9);
	}
}


.site-branding {
	//@include outer-container;
	display: flex;

	.site-branding__logo {
		//@include span-columns(2);
		width: 165px;
		display: inline-block;
		margin-right: 10px;
		line-height: 0;
	}

	.name_slogan {
		//@include span-columns(9);

		border-left: $base-border;
		padding-left: 10px;
		padding-top: 4px;

		a {
			margin: 0;
		}

		//@include omega;

	}

	@include clearfix;
}

.branding-container {
	padding: ($base-spacing / 2) 0;

	/*display: flex;*/
}

.site-branding {}

/* Content Area */
.l-highlighted-wrapper {}

.l-region--highlighted {
	@extend .l-constrained;
}

.l-region--help {
	margin-bottom: $base-spacing;
}

.l-main {
	padding: $base-spacing 0;
}

@include media($medium-screen) {
	.has-one-sidebar.has-sidebar-first {
		.l-region--sidebar-first {
			/*background: red;*/

			@include span-columns(3);
		}

		.l-content {
			/*background: green;*/
			@include span-columns(9);

			@include omega;
		}
	}

	.has-one-sidebar.has-sidebar-second {
		.l-region--sidebar-second {
			/*background: red;*/

			@include span-columns(3);

			@include omega;
		}

		.l-content {
			/*background: green;*/
			@include span-columns(9);
		}
	}
}

/*.has-one-sidebar .has-sidebar-first {*/
/*.l-region--sidebar-first {*/
/*@include span-columns(2);*/
/*}*/

/*.l-content {*/
/*@include span-columns(10);*/

/*@include omega;*/
/*}*/
/*}*/

/*.has-one-sidebar .has-sidebar-second {*/
/*.l-content {*/
/*@include span-columns(10);*/
/*}*/

/*.l-region--sidebar-second {*/
/*@include span-columns(2);*/

/*@include omega;*/
/*}*/
/*}*/

.has-two-sidebars {
	.l-region--sidebar-first {
		@include span-columns(3);
	}

	.l-content {
		@include span-columns(6);
	}

	.l-region--sidebar-second {
		@include span-columns(3);
	}
}

/* Footer */
.l-footer-wrapper {
	padding: $base-spacing 0;

	.l-region--footer {
		@extend .l-constrained;
	}
}
