
.lp-menu .menu .leaf {
	list-style-image: none;
	list-style-type: none;
}
.lp-menu .menu {
	margin-bottom: $base-spacing;
	border: 5px solid #fff;
	outline: 1px solid #ccc;
	border-radius: $base-border-radius;
}
.lp-menu .menu a {
	background: $light-green;
	color: $dark-gray;
	display: block;
	padding: 0.34em ($base-spacing / 2);
	border-bottom: $base-border;
	font-family: $roboto_condensed;
	font-size: 1.2em;
	@include media(1130px) {
		font-size: 1.4em;
	}
}
.lp-menu .menu a:hover {
	background: white;
	@include transition;
}
.lp-menu .menu i {
	width: 20px;
	margin-right: $base-spacing / 2;
}
.lp-menu .menu a:hover i {
	color: $green;
	@include transition;
}

.lp-menu .menu .last a {
	border-bottom: 0;
}

