ul.pager li {
    background: #f9f7f9;
    background: white;;
    padding: 7px 12px;
    border: $base-border;
    border-radius: 4px;
	&:hover {
	
		//background: #7E9B5B;
		@include small-shadow;
		@include transition()
	
	}
	a {
	color: $base-font-color;
	}
}

ul.pager {
    padding-bottom: 10px;
}
