.l-content {
	border: $base-border;
	padding: $base-spacing;
}

.scholar-page .l-content {
	background: #fff  !important;
}

.scholar {
	@include outer-container;
@include clearfix();
	//width: 100%;
	//max-width: 100%;
	.scholar-image {
		@include span-columns(2);

		img {
			width: 100%;
		}
	}

	.metadata {
		@include span-columns(10);

		@include omega;
	}

	.bio {
		clear: both;
		@include border-bottom;
		@include border-top;
		br {
			display: none;
		}
		p {
			margin-bottom: $base-spacing;
			
		}
	}

	.activities {
		@include border-bottom;
	}

	.citations {
		@include border-bottom;
	}

	.other-scholars {

		@include border-bottom;
	}

	.rss {
		@include border-bottom;
	}
}

.scholar-image img {
	border: 1px solid #ccc;
	padding: 4px;
}
