.l-content {
	border: $base-border;
	padding: $base-spacing;
}

.scholar-page .l-content {
	background: #fff  !important;
}

.scholar {
	@include outer-container;

	@include clearfix;

	//width: 100%;
	//max-width: 100%;
	.scholar-image {
		@include span-columns(2);

		img {
			width: 100%;
		}
	}

	.metadata {
		@include span-columns(10);

		@include omega;
		min-height: 280px;
	}

	.bio {
		clear: both;

		@include border-bottom;

		@include border-top;

		br {
			display: none;
		}

		p {
			/*margin-bottom: $base-spacing;*/
		}
	}

	.activities,
	.citations,
	.other-scholars {
		@include border-bottom;
	}
}
/*---------------------*/
/*-  fellow scholars  -*/
/*---------------------*/
.fellow_scholars {
	height: 400px;
	column-count: 3;
	
}

.scholar-image img {
	border: 1px solid #ccc;
	padding: 4px;
}
