.l-region--sidebar-first {

	padding-left: 2em !important;
	border-left: $base-border;

}
aside .block {
	border-bottom: $base-border;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

aside .menu {

	li {
	
	list-style-type:none;
	}

}
