@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,300italic,400italic,500italic,700italic);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,400italic,300italic,700,300);

// Typography
$roboto: 'Roboto', sans-serif;
$roboto_condensed: 'Roboto Condensed', sans-serif;
$base-font-family: $roboto;
$heading-font-family: $georgia;
$button-font: $roboto_condensed;
/*$heading-font-family: $base-font-family;*/

// Font Sizes
$base-font-size: 1em;
$button-font-size: .9em;
$button-padding: 0.5em 0.75em .4em;


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$off-white: #FBFBFB;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #5A5A5A;
//$medium-gray: #999;
$light-gray: #ddd;
//$red: #8B2004;
$red: #8c2004;
$green: #5C8727;
$light-green: rgb(231, 237, 224);
$yellow: #FBB040;
$light-yellow: rgb(255, 210, 154);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: #ccc;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $off-white;

//$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Shadows

@mixin small-shadow {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

@mixin big-shadow {
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
}

//My stuff
@mixin border-bottom {
	border-bottom: $base-border;
	margin-bottom: $base-spacing;
	padding-bottom: $base-spacing;
}

@mixin border-top {
	border-top: $base-border;
	margin-top: $base-spacing;
	padding-top: $base-spacing;
}
