// Typography
$base-font-family: $helvetica;
$heading-font-family: $georgia;
/*$heading-font-family: $base-font-family;*/

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$off-white:##FBFBFB;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$red: #8B2004;
$green: #5C8727;
$yellow: #FBB040;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//My stuff
@mixin border-bottom() {

	border-bottom: $base-border;
	margin-bottom: $base-spacing;
	padding-bottom: $base-spacing;

}
@mixin border-top() {

	border-top: $base-border;
	margin-top: $base-spacing;
	padding-top: $base-spacing;

}
