/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*";
// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1 / 3;

//@include sgs-change('debug', true);
.l-constrained {
	width: 95%;
	margin: 0 auto;

	@include pie-clearfix;
}

//top nav

.l-region--navigation {
	@extend .l-constrained;
}

/* Header */
.l-region--header {
	padding: $vert-spacing-unit 0;

	.block {
		float: right;
	}
}

/* Content Area */
.l-highlighted-wrapper {
	padding: $vert-spacing-unit 0;
}

.l-region--highlighted {
	@extend .l-constrained;
}

.l-region--help {
	margin-bottom: $vert-spacing-unit;
}

.l-main {
	margin-top: 2 * $vert-spacing-unit;
	margin-bottom: 2 * $vert-spacing-unit;
}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
	padding: $vert-spacing-unit $horz-spacing-unit;
}

/* Footer */
.l-footer-wrapper {
	padding: $vert-spacing-unit 0;
}

.l-region--footer {
	@extend .l-constrained;
}

@include breakpoint($tab, true) {
	.l-constrained {
		width: 90%;

		//@include background-grid($color: blue);

	}

	/* Header */
	.l-region--navigation {
		//@include grid-span(6, 4);

	}

	.l-branding {
		@include grid-span(6, 1);
	}

	.l-region--header {
		@include grid-span(6, 7);
	}

	/* Sidebars */
	.has-two-sidebars,
	.has-one-sidebar {
		.l-content {
			@include grid-span(9, 1);
		}

		.l-region--sidebar-first,
		.l-region--sidebar-second {
			@include grid-span(3, 10);

			clear: right;
		}
	}
}


@include breakpoint($desk, true) {
	.l-constrained {
		width: 80%;
	}

	/* Sidebars */
	.has-one-sidebar {
		.has-sidebar-first {
			.l-region--sidebar-first {
				@include grid-span(4, 1);
			}

			.l-content {
				@include grid-span(8, 5);

				clear: none;
			}
		}

		.has-sidebar-second {
			.l-content {
				@include grid-span(8, 1);
			}

			.l-region--sidebar-second {
				@include grid-span(4, 9);

				clear: none;
			}
		}
	}


	.has-two-sidebars {
		.l-region--sidebar-first {
			@include grid-span(3, 1);
		}

		.l-content {
			@include grid-span(6, 4);
		}

		.l-region--sidebar-second {
			@include grid-span(3, 10);

			clear: none;
		}
	}
}
